<!DOCTYPE html>
<html>
  <head>
    <title>予定一覧</title>
    <%= stylesheet_link_tag "index" , media: "all" , "data-turbolinks-track" => "reload" %>
  </head>

  <body>
    <h3>予定一覧です</h3>
    <div class="btn-container">
    <a href="/posts/new">
    <button class="btn">新規追加</button>
    </a>
    </div>

    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>更新日時</th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <tbody>
            
      </table>
    </div>
    <% if @posts.empty? %>
    <p>投稿がありません</p>
    <% else %> 
    <% @posts.each do |post| %>
      <div class="posts-index-item">
      <%= post.content %> 
      <%= link_to "詳細を見る" , post_path(post) %>
    </div>
    <% end %> 
    <% end %>

  </body>
</html>
